*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    color:#000;
    line-height:1.2;
    width:100%;
    display:block;
    overflow-x:hidden;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #020419;
    color:#fff;
    padding: 15px 5px;
}


.brand_name {
    font-size: 30px;
    flex: 1 0 auto;
}

nav {
    flex: 4 0 auto;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul > li {
    margin-left: 5%;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0b075f, #dc3838);
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

footer {
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    background: #020419;
    color: #fff;
}

.mobile_toggle {
    width: 45px;
    height: 43px;
    background: #fff;
    position: fixed;
    right: 15px;
    top: 8px;
    cursor: pointer;
    display: none;
}

.mobile_toggle span {
    width: 37px;
    height: 3px;
    position: absolute;
    left: 0;
    top: 18px;
    right: 0;
    background: #000;
    margin: 0 auto;
    transition: .3s linear;
}

.mobile_toggle span:before {transition: .3s linear; content: '';position: absolute;width: 38px;height: 3px;left: 0;top: -9px;right: 0;margin: auto;background: #000;}

.mobile_toggle span:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    margin: auto;
    width: 35px;
    top: 10px;
    background: #000;
    content: '';
    transition: .3s linear;
}
.mobile_toggle.active span:before {
    transform: rotate(45deg) translate(12px,8px);
    top: -10px;
}

.mobile_toggle.active span:after {
    transform: rotate(-45deg) translate(5px, 0px);
    top: 7px;
}

.mobile_toggle.active span {
    background: transparent;
}

@media(max-width:767px)
{
    header{
        position: fixed;
        width: 100%;
    }
    .mobile_toggle{
        display: block;
        z-index: 1;
    }

    li {
        margin-bottom: 10px;
    }
    ul.nav-bar{
        display: none;
    }
    ul.nav-bar.active{
        flex-flow: column;
        position: absolute;
        min-height: 100vh;
        background: black;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
